@import '../../../public/assets/styles/variables.scss';

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $large) {
        width: 600px;
    }

    @media screen and (max-width: $medium) {
        width: 100%;
    }
}