@import '../../../public/assets/styles/variables.scss';

.back-button {
    position: fixed;
    top: 20vh;
    left: 10vw;
    background: transparent;

    & button {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        background: transparent;
        outline: none;

        & svg {
            color: $highlight-light;
            cursor: pointer;
        }

            & svg:hover {
                color: $highlight-color;
                cursor: pointer;
            }
    }
}