@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$tile-color: #F0EBD8;
$border-color: #000000;
$highlight-color: #c0c0c0;
$highlight-light: #ffffff;
$main-color: #FFD791;

$main-font: 'Montserrat';

$medium: 768px;
$large: 1024px;
$extra-large: 1440px;